* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  padding-left: 3%;
  background-color: black;
  color: #fdb827;
  font-family: "PT Serif Caption", serif;
  font-size: 1.7rem;
  text-decoration: underline #542583;
}

.mamba {
  height: 130px;
  width: 130px;
}

.new-player {
  width: 100%;
  height: 25vh;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.input-boxes {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-input {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.position-input {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-family: "PT Serif Caption", serif;
  font-weight: 550;
}

.input {
  background-color: blanchedalmond;
}

.myButton {
  background: linear-gradient(to bottom, #542583 5%, #9266bd 100%);
  background-color: #542583;
  border-radius: 21px;
  border: 2px solid #fdb927;
  display: inline-block;
  cursor: pointer;
  color: #c9c1c9;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 6px #c9c1c9;
}
.myButton:hover {
  background: linear-gradient(to bottom, #9266bd 5%, #542583 100%);
  background-color: #9266bd;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.background {
  width: 100%;
  height: 100vh;
  background: url(GkvPul.jpg);
  background-position: bottom;
  background-size: cover;
}

.court {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  flex-direction: column;
  /* margin-top: 10%; */
}

.court-title {
  color: #fdb827;
  text-decoration: underline #542583;
  font-size: 2rem;
  font-weight: 600;
  font-family: "PT Serif Caption", serif;
}

.player-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 7%;
}

.player {
  height: 150px;
  width: 150px;
  background-image: url(basketball.png);
  color: #fdb927;
  font-weight: 700;
  font-family: "PT Serif Caption", serif;
  background-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  background: linear-gradient(to bottom, #542583 5%, #9266bd 100%);
  background-color: #542583;
  border-radius: 21px;
  border: 2px solid #fdb927;
  display: inline-block;
  cursor: pointer;
  color: #c9c1c9;
  font-family: Arial;
  font-size: 17px;
  padding: 4px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 6px #c9c1c9;
}
.save-button:hover {
  background: linear-gradient(to bottom, #9266bd 5%, #542583 100%);
  background-color: #9266bd;
}
.save-button:active {
  position: relative;
  top: 1px;
}

.save-input {
  background-color: blanchedalmond;
}

.release-button {
  background: linear-gradient(to bottom, #542583 5%, #9266bd 100%);
  background-color: #542583;
  border-radius: 21px;
  border: 2px solid #fdb927;
  display: inline-block;
  cursor: pointer;
  color: #c9c1c9;
  font-family: Arial;
  font-size: 17px;
  padding: 2px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 6px #c9c1c9;
}
.release-button:hover {
  background: linear-gradient(to bottom, #9266bd 5%, #542583 100%);
  background-color: #9266bd;
}
.release-button:active {
  position: relative;
  top: 1px;
}
